.cf:after,
.cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.bclip {
  float: left;
  vertical-align: middle;
  width: 50%;
}

.nimg {
  float: left;
  height: 290px;
  overflow: hidden;
  vertical-align: middle;
  width: 380px;
}

img {
  height: 100%;
  width: auto;
}

li {
  /* margin: 24px 0; */
}
