* {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

img {
  height: 100%;
  width: auto;
}

ul {
  list-style-type: none;
}

.cf:after,
.cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}
